:root {
    background-color: lightseagreen;
    --primary-color: dark blue;
    --secondary-color: orange;
    --tertiary-color: silver;
    }


h1 {
    color: var(--secondary-color); 
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    margin: 0;
    font-size: 50px;
    align-items: center;
}
h2 {
    color: var(--secondary-color); 
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    margin: 0;
    font-size: 28px;
    align-items: center;
}

.container {
    margin:auto;
    align-items: center;
    display: flexbox;
    justify-content: space-between;
    padding: 40px 35px;
    width: 100%;
    text-align: center;
}

input{
    text-align: center;
}

#startButton {
  background: var(--secondary-color);
  color: var(--primaryary-color);
  text-align: center;
  padding: 15px 0;
  font-size: 24px;
  width: 25%;
}

#initials {
    background: var(--tertiary-color);
    color: var(--primaryary-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    width: 20%;
}

#submitScore {
  background: var(--secondary-color);
  color: var(--primaryary-color);
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  width: 10%; 
}

#playAgain {
    background: var(--secondary-color);
    color: var(--primaryary-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    width: 10%; 
  }

/* Footer */
#footer {
    margin:auto;
    align-items: center;
    display: flexbox;
    justify-content: space-between;
    padding: 40px 35px;
    width: 100%;
    text-align: center; 
}